*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 1px;
    list-style: none;
}
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "header"
    "image"
    "containerMid"
    "footer"
    ;
    background-color: rgb(242, 233, 215);
}
html{
    width: 100vw;
    height: 100vh;
    font-size: 62,5%;
    background-color: #EEEEEE;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 5vh;
    font-size: 24px;
    overflow-y: hidden;
    top: 0;
    left: 0;
    padding: 5vh;
    transition: 0.6s;
    grid-area: header;
}
.menu-content{
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.menu-content .list-itens li{
    cursor: pointer;
    color: rgb(57, 57, 57);
    font-weight: 400;
    font-size: medium;
    position: relative;
}
.menu-content a{
    color: #a56307;
    font-weight: 800;
}
.menu-content .list-itens{
    display: flex;
    justify-content: space-between;
    gap: 6vw;
}
#logo{
    height: 8vh;
    color: #ffffff;
}
.menu-content .list-itens a{
    text-decoration: none;
    transform: 2ms ease-in;
    position:absolute;
}
.image{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    margin-bottom: 5vw;
}
#img-pc{
    width: 100%;
}
#img-phone{
    display: none;
}
.container-mid > p{
    border: saddlebrown solid 1px;
    width: 70%;  
    margin-bottom: 1vw;
}
.container-mid > h1{
    font-size: xx-large;
    font-weight: 900;
    color: rgb(160, 69, 46);
}
.container-mid > h2{
    font-size: x-large;
    font-weight: 800;
    color: rgb(160, 69, 46);
}
.container-mid{
    grid-area: containerMid;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(235, 208, 158, 0.609);
}
.container-mid > button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 5vh;
    border: none;
    background-color: rgba(135, 49, 49, 0.259);
    border-radius: 3px;
    margin-top: 1vw;
    margin-bottom: 3vw;
    cursor: pointer;
    transition: 2s;
}
.container-mid > button:hover{
    opacity: 80%;
    width: 19vw;
}
.container-receita{
    display: flex;
    flex-direction: column;
    padding: 2%;
}
#texto-receita{
    display: flex;
}
#texto-receita h2{
    font-weight: 700;
    color: #ff9807;
}

.container-receita{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.container-receita h2{
    display: flex;
    font-weight: 900;
    color: rgba(146, 116, 61, 0.753);
}
.container-receita h3{
    text-transform: uppercase;
    letter-spacing: 1%;
    line-height: 1.25rem;
    font-size: medium;
}
.container-forma-de-preparo{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
}

#forma-de-preparo{
    display: flex;
    flex-direction: row;
    margin: 0.7rem;
    align-items: center;
    width: 100%;
    column-gap: 10px;
}
#forma-de-preparo h4{
    border-radius: 50%;
    background-color: #ff9807;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 900;
    font-size: larger;
    color: antiquewhite;    
}
#forma-de-preparo h5{
    font-size: large;
    width: 80%;
    text-align: justify;
}
footer{
    grid-area: footer;
    width: 100%;
    color: rgb(209, 209, 209);
}
#footer_content{
    background-color: rgb(149, 105, 79);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}
#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}
#footer_social_media .footer-link{
    height: 2.5rem;
    width: 2.5rem;
    color: rgb(233, 233, 233);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}
#footer_social_media .footer-link i{
    font-size: 1.5rem;
}
#footer_social_media .footer-link:hover{
    opacity: 0.8;
}
.footer-link{
    text-decoration: none;
}
#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}
#facebook{
    background-color: #4267b3;
}
#whatsapp{
    background-color: #25d36c;
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}
.footer-list .footer-link{
    color: #acacac;
    transition: 1.5s;
}
.footer-list .footer-link:hover{
    color: #9980b5;
}
#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#input_group{
    display: flex;
    align-items: center;
    background-color: rgb(95, 44, 44);
    border-radius: 4px;
}
#input_group input{
    all:unset;
    padding: 0.75rem;
    width: 100%;
}
#input_group button{
    background-color: rgb(126, 82, 82);
    border: none;
    color: rgb(211, 203, 193);
    padding: 0 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: all 0.4s;
}
#input_group button{
    opacity: 0.8;
}
#footer_copyright{
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    background-color: rgb(88, 51, 51);
}
@media screen and (max-width: 1000px) {
    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    #img-pc{
        display: none;
    }
    #img-phone{
        display: flex;
        width: 100%;
        height: 100%;
    }
    .container-mid > button{
        width: 50%;
    }
}
@media screen and (max-width: 800px) {
    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
    #image-pc{
        display:none;
    }
}