*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 1px;
    list-style: none;
}
body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    font-family: Arial, sans-serif;
    grid-template-areas: 
    "header"
    "menuoct"
    "main"
    "btnone"
    "footer"
    ;
    background-color: rgb(242, 233, 215);
}
html{
    width: 100vw;
    height: 100vh;
    font-size: 62,5%;
    background-color: rgb(242, 233, 215);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}
header{
    width: 100%;
    height: 5vh;
    font-size: 24px;
    overflow-y: hidden;
    top: 0;
    left: 0;
    padding: 5vh;
    transition: 0.6s;
    grid-area: header;
}
.menu-content{
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.menu-content .list-itens li{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    color: rgb(57, 57, 57);
    font-weight: 400;
    font-size: medium;
    position: relative;
}
.menu-content .list-itens a li {
    display: flex;
    justify-content: space-between;
}
.menu-content a{
    color: #a56307;
    font-weight: 800;
}
.menu-content .list-itens{
    display: flex;
    justify-content: space-between;
    gap: 6vw;
}
#logo{
    height: 8vh;
    color: #ffffff;
}
.menu-content .list-itens a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    transform: 2ms ease-in;
    position:relative;
}

.btnmenuoct{
    display: none;
}

.oculto{
    display: none;
    grid-area: menuoct;
}

@media screen and (max-width: 800px) {
    .header-menu{
        display: none;
    }
    .btnmenuoct{
        display: block;
        justify-self: right;
        margin-right: 20px;
    }

    .btnmenuoct button{
        display: flex;
        flex-direction: column;
        row-gap: 4px;
        align-items: center;
        border: 0;
        background: transparent;
    }

    .btnmenuoct button:hover{
        cursor: pointer;
    }

    .btnmenuoct button span{
        width: 30px;
        height: 2px;
        border-radius: 10px;
        background:  #a56307;

        transition: all 0.6s;
    }

    .btnmenuoct button.ativo span:nth-child(2){
        opacity: 0;
        width: 0;
    }

    .btnmenuoct button.ativo span:nth-child(1){
        transform: rotate(-45deg) translate(-4px, 4px);
    }

    .btnmenuoct button.ativo span:nth-child(3){
        transform: rotate(45deg) translate(-5px, -4px);
    }
    
    .menuoct{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        list-style: none;
        justify-content: center;
        align-items: center;
        background-color:  rgb(242, 233, 215);
        padding: 30px;
    }
    .menuoct a{
        color: #a56307;
        font-weight: 800;
    }
    .open{
        display: block;
    }
}


.image {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    margin-bottom: 5vw;
}

#img-pc {
    width: 100%;
}

#img-phone {
    display: none;
}

.container {
    padding: 20px;
    grid-area: main;
    display: flex;
    justify-content: center;
}

.gridcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 5vh;
}

.gridReceita {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 30px;
    transition: transform 0.3s ease; 
    
}

.gridReceita:hover {
    transform: scale(1.05); 
}

.gridReceita img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 80%;
    border-radius: 5px;
    object-fit: cover;
}
.gridReceita a {
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.gridReceita h2 {
    margin: 10px 0;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}
.gridReceita p{
    color: #000000;
}

footer{
    grid-area: footer;
    width: 100%;
    color: rgb(209, 209, 209);
}
#footer_content{
    background-color: rgb(149, 105, 79);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}
#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}
#footer_social_media .footer-link{
    height: 2.5rem;
    width: 2.5rem;
    color: rgb(233, 233, 233);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}
#footer_social_media .footer-link i{
    font-size: 1.5rem;
}
#footer_social_media .footer-link:hover{
    opacity: 0.8;
}
.footer-link{
    text-decoration: none;
}
#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}
#facebook{
    background-color: #4267b3;
}
#whatsapp{
    background-color: #25d36c;
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}
.footer-list .footer-link{
    color: #acacac;
    transition: 1.5s;
}
.footer-list .footer-link:hover{
    color: #9980b5;
}
#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#input_group{
    display: flex;
    align-items: center;
    background-color: rgb(95, 44, 44);
    border-radius: 4px;
}
#input_group input{
    all:unset;
    padding: 0.75rem;
    width: 100%;
}
#input_group button{
    background-color: rgb(126, 82, 82);
    border: none;
    color: rgb(211, 203, 193);
    padding: 0 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: all 0.4s;
}
#input_group button{
    opacity: 0.8;
}
#footer_copyright{
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    background-color: rgb(88, 51, 51);
}

.btn-one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000000;
    transition: all 0.3s;
    position: relative;
    margin-bottom: 100px;
    margin-top: 100px;
    width: 250px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    grid-area: btnone;
}

.btn-one span {
    transition: all 0.3s;
}

.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(197, 44, 44, 0.5);
    border-bottom-color: rgba(207, 44, 44, 0.5);
    transform: scale(0.1, 1);
}

.btn-one:hover span {
    letter-spacing: 2px;
}

.btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
}

.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1000px) {
    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    #img-pc{
        display: none;
    }
    #img-phone{
        display: flex;
        width: 100%;
        height: 100%;
    }
    .container-mid > button{
        width: 50%;
    }
}
@media screen and (max-width: 800px) {
    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
    #image-pc{
        display:none;
    }

    .gridcontainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }    

}
.menu-content .list-itens ul a li{
    display: flex;
    justify-content: space-around;
}
